#root {
	margin: 0;
	text-align: center;
}

.App {
	display: flex;
	max-width: 1400px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	margin: 0 auto;
}

::selection {
	background-color: var(--title-background-color);
	color: white;
}

::-moz-selection {
	background-color: var(--title-background-color);
	color: white;
}

*:focus-visible {
	outline: 2px solid var(--title-background-color);
	outline-offset: 2px;
}
