* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--header-text-color: #615b50;
	--header-background-color: #eeebe6;

	--header-button-color: #817a70;
	--header-button-background-color: #e5e1da;

	--border-color: #a6a095;

	--main-background-color: #e5e1da;

	--title-text-color: #e0dcd5;
	/* --title-background-color: #41569b; */
	--title-background-color: #5c6fb1;

	--author-text-color: #f1efec;
	--author-background-color: #868689;

	--status-text-color: #4b453a;
	--status-background-color: #f5f1ea;

	--textarea-text-color: #4b453a;
	--textarea-background-color: #e5e1da;

	--button-text-color: #4b453a;
	--button-background-color: #e5e1da;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--header-text-color);
	background-color: var(--main-background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	/* display: flex; */
	/* place-items: center; */
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1.2rem;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: transform ease 0.1s;
}
button:hover {
	transform: scale(1.04);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
