.preview {
	flex: 1;
	padding: 1rem;
	width: 70%;
	overflow: hidden;
}

.cv-document {
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	height: 100%;
	border-radius: 10px;
	color: #213547;
	background-color: #f5f5f5;
}

.cv-section {
	margin-bottom: 2rem;
}

.cv-section h1 {
	font-size: 2rem;
}

.cv-columns {
	display: flex;
	height: 100%;
}

.cv-left-column {
	border-right: 1px solid black;
}

.cv-left-column,
.cv-right-column {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
}
