.preview {
	flex: 1;
	padding: 2rem;
	overflow-y: auto;
	width: 70%;
}

.cv-document {
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	height: 100%;
	border-radius: 10px;
	color: #213547;
	background-color: #f5f5f5;
}

.cv-section {
	margin-bottom: 2rem;
}
